<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Street:</b>
  <%= @customer.street %>
</p>

<p>
  <b>Number:</b>
  <%= @customer.number %>
</p>

<p>
  <b>Phone:</b>
  <%= @customer.phone %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
<%= link_to 'New Customer', new_customer_path %>
